body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('img.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Trebuchet MS', sans-serif;
}

.calculator {  
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
    align-items: center;
    position: inherit;
    width: 350px;
    background-color: #5c1a1a60;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.display {
    width:350px;
    flex-direction: column;
    height: 2px;
    padding: 5px 10px 25px 10px;
    background-color: #ffffff60;
    color: #ffd900c5;
    font-size: 24px;
    text-align: right;
    border:none;
}
#disp1{
    border-bottom: 1px solid #5c1a1a60;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    flex: 1;
    background-color: #ffffff65;
    color: #f5f5f5;
    border: none;
    font-size: 1.5em;
    padding: 30px;
    cursor: pointer;
    transition: 0.2s;
}

#cls{
    border: none;
}
#ct{
    border: none;
}

.btn:hover {
    background-color: #be292998;
}

.operator {

    background-color: #a8151596;
    color: #fff;
}

.operator:hover {
    background-color: #a12525c7;
}

.fragment-block, .fragment{
    text-align: center;
    color:rgb(197, 14, 151)
}

i{
    color:white;
    text-shadow:
    0 0 7px #740a94,
    0 0 10px #740a94,
    0 0 21px #740a94,
    0 0 42px rgb(255, 0, 191),
    0 0 82px rgb(255, 0, 191),
    0 0 92px rgb(255, 0, 191),
    0 0 102px #0fa,
    0 0 151px #0fa;
}
.trash{
    flex: 1;
    color: #fff;
    border-left:none;
    border-right:none;
    border-bottom:none;
    border-top:rgba(0, 0, 0, 0.144) solid;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;  
    background-color: #972727c9;
}
.trash button{
    padding: 20px 38px 0px 38px;
    background-color: rgba(0, 255, 170, 0);
    border: none;
    color: white;   
}
details{
    color: white;
}

.git button:hover{
    background-color: #a12525c7;
}
