body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('img.img') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Trebuchet MS', sans-serif;
}

.calculator {  
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 360px;
    background-color: #5c1a1a60;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}
.field{
    display: flex;
}

.display {
    background-color: #ffffff60;
    color: #ffd900c5;
    font-size: 24px;
    text-align: right;
    border:none;
    height: 30px;

}
.displays{
    border-bottom: 1px solid #5c1a1a60;
}
.btn {
    flex:1;
    padding: 20px;
    background-color: #ffffff65;
    color: #f5f5f5;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background-color: #be292998;
}

.operator {

    background-color: #d6995496;
    color: #fff;
}

.btn[id="+"], .btn[id="-"], .btn[id="*"], .btn[id="/"]{
    font-size: 30px;
}

.operator:hover {
    background-color: #dbbc56c7;
}

.fragment-block, .fragment{
    text-align: center;
    color:rgb(197, 14, 151)
}

i{
    flex-wrap:wrap;
    color:white;
    text-shadow:
    0 0 7px #c710ff,
    0 0 10px #990ec4,
    0 0 21px #9f0ccc,
    0 0 42px rgb(255, 0, 140),
    0 0 82px rgb(255, 0, 191),
    0 0 92px rgb(255, 0, 191),
    0 0 102px #0fa,
    0 0 151px #0fa;
}
.trash{
    color: #fff;
    border-left:none;
    border-right:none;
    border-bottom:none;
    border-top:rgba(0, 0, 0, 0.144) solid;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;  
    background-color: #972727c9;
}
.trash button{
    background-color: rgba(0, 255, 170, 0);
    border: none;
    color: white;   
}
details{
    color: white;
}

.git button:hover{
    background-color: #a12525c7;
}
